/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(120deg, #121212, #1E1E1E);
    color: #EAEAEA;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: #EAEAEA;
    transition: color 0.3s ease;
}

a:hover {
    color: #007BFF;
}

/* Parallax Scrolling */
main {
    perspective: 2px;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
}

section {
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    transform-style: preserve-3d;
}

section::before {
    content: "";
    height: 90%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    transform: translateZ(-1px) scale(1.5);
}

/* Navigation Styles */
nav {
    display: flex;
    justify-content: space-between;
    padding: 1rem 5%;
    position: fixed;
    width: 90%;
    z-index: 1000;
}

nav img.logo {
    height: 40px;
    transform: scale(0.8);
    transition: transform 0.3s ease;
}

nav img.logo:hover {
    transform: scale(1);
}

/* Easter Egg: When Logo is clicked, it rotates */
nav img.logo:active {
    transform: rotate(360deg);
}

/* Footer */
footer {
    text-align: center;
    padding: 1rem;
}

header {
    width: 100%;
}

nav {
    width: 100%;
}
