/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(120deg, #121212, #1E1E1E);
    color: #EAEAEA;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: #EAEAEA;
    transition: color 0.3s ease;
}

a:hover {
    color: #007BFF;
}

/* Parallax Scrolling */
main {
    perspective: 2px;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
}

section {
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    transform-style: preserve-3d;
}

section::before {
    content: "";
    height: 90%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    transform: translateZ(-1px) scale(1.5);
}

/* Navigation Styles */
nav {
    display: flex;
    justify-content: space-between;
    padding: 1rem 5%;
    position: fixed;
    width: 90%;
    z-index: 1000;
}

nav img.logo {
    height: 40px;
    transform: scale(0.8);
    transition: transform 0.3s ease;
}

nav img.logo:hover {
    transform: scale(1);
}

/* Easter Egg: When Logo is clicked, it rotates */
nav img.logo:active {
    transform: rotate(360deg);
}

/* Footer */
footer {
    text-align: center;
    padding: 1rem;
}

header {
    width: 100%;
}

nav {
    width: 100%;
}

a img {
    width: 9%;
    height: 9%;
   
}

.background-shape {
    position: absolute;
    border: 2px solid linear-gradient(to bottom, #fff, #000);
    border-radius: 50%;
    background-image: linear-gradient(to bottom, #333, #d81c1c);
    /* Adjust size, position, and other properties as needed */
}

#shape-home-1 {
    width: 100px;
    height: 100px;
    top: 20%;
    left: 30%;
    animation: spin 10s linear infinite;
    /* make sure it is in the backround */
    z-index: -1;
}


#shape-home-2 {
    width: 150px;
    height: 150px;
    top: 70%;
    left: 60%;
    animation: spin 2s linear infinite;
    z-index: -1;
}

#shape-home-3 {
    width: 150px;
    height: 150px;
    top: 50%;
    left: 80%;
    animation: spin 5s linear infinite;
    z-index: -1;
}

#shape-home-4 {
    width: 100px;
    height: 100px;
    top: 40%;
    left: 10%;
    animation: spin 7s linear infinite;
    z-index: -1;
}

#shape-home-5 {
    width: 100px;
    height: 100px;
    top: 80%;
    left: 40%;
    animation: spin 3s linear infinite;
    z-index: -1;
}

#shape-home-6 {
    width: 350px;
    height: 350px;
    top: 60%;
    left: 70%;
    animation: spin 6s linear infinite;
    z-index: -1;
}

#shape-home-7 {
    width: 100px;
    height: 100px;
    top: 50%;
    left: 80%;
    animation: spin 4s linear infinite;
    z-index: -1;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
#connect {
    color: #EAEAEA;
}

.social-link {
    display: inline-block;
    margin: 10px;
    color: #EAEAEA;
    font-size: 1.2em;
}

.social-link:hover {
    color: #007BFF;
}

.social-icon {
    width: 24px;
    height: 24px;
    vertical-align: middle;
    margin-right: 8px;
}


